.smaller-text {
  font-size: 20px;
  line-height: 1;
}

h1,
h2,
h3 {
  font: normal 400 50px 'Inter', sans-serif;
  letter-spacing: 9px;
  text-align: center;
  margin: 1px;
  margin: 5px;
}

h3 {
  font: normal 400 15px 'Inter', sans-serif;
  letter-spacing: normal;
  text-align: center;
}

img {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid red;
  background-color: red;
}
