.smaller-text {
  font-size: 20px;
  margin-top: -10px;
}

h1 {
h1,
h2,
h3 {
  font: normal 400 50px 'Inter', sans-serif;
  letter-spacing: 9px;
  text-align: center;
  margin: 1px;
}

/*h2 {
  font: normal 400 20px 'Inter', sans-serif;
  letter-spacing: 15px;
  text-align: center;
  margin-top: 5px;
}

main {
  justify-content: center;
}*/
