.smaller-text {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 17px;
}

h1,
h2 {
  font: normal 400 50px 'Inter', sans-serif;
  letter-spacing: 9px;
  text-align: center;
  margin: 5px;
}

div {
  font: normal 400 15px 'Inter', sans-serif;
  letter-spacing: normal;
}

img {
  border: 5px solid red;
}


section {
  font: normal 400 15px 'Inter', sans-serif;
  text-align: justify;
  text-align-last: left;
  margin-top: 70px;
  margin-left: 70px;
}

footer {
  text-align: right;
}
